
:root {
  --van-sidebar-selected-border-color: rgb(255,200,2) !important;
  --van-danger-color: rgb(255,200,2) !important;
  --van-progress-color: rgb(255,200,2) !important;
  --van-progress-pivot-background-color: rgb(255,200,2) !important;
}


.van-dialog__header {
  background-color: white !important;
}

.van-toast {
  background: var(--van-toast-background-color) !important;
}
